:root {
    /* CSS Prop to easily modify components */
    --globe-size: 200px;
}

* {
    /* Remove padding from root */
    margin: 0;
    padding: 0;
}

.galaxy {
    display: flex;
    background-color: hsl(232, 96%, 9%);
    /* Center child components horizontally */
    justify-content: center;
    /* Center child components vertically */
    align-items: center;
    width: 100%;
    height: 100vh;
}

.earth-container {
    display: flex;
    /* To allow child elements to stack */
    position: relative;
    /* Center child components horizontally */
    justify-content: center;
    /* Center child components vertically */
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    width: var(--globe-size);
    height: var(--globe-size);
}

.earth {
    /* To allow child elements to stack */
    position: relative;
    width: 100%;
    height: 100%;
    /* To mimic Earth's rotational axis */
    transform: rotate(23.5deg);
    z-index: 10;
}

.earth-map {
    /* Breaks inline flow */
    position: absolute;
    animation: spin infinite linear 20s;
    background: url('earth-texture.svg');
    background-size: auto 100%;
    background-repeat: repeat-x;
    /* Larger width for animation to work properly */
    width: 200%;
    height: 100%;
    z-index: 0;
}

.cloud-map {
    /* Breaks inline flow */
    position: absolute;
    background: url('cloud-texture.svg');
    animation: spin infinite linear 30s;
    background-size: auto 100%;
    /* Larger width for animation to work properly */
    width: 200%;
    height: 100%;
    z-index: 11;
}

.earth-shadow {
    /* Breaks inline flow */
    position: absolute;
    width: calc(var(--globe-size)/2);
    height: var(--globe-size);
    background: hsl(232, 96%, 9%, 0.2);
    z-index: 12;
    left: 50%;
}

@keyframes spin {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -200% 0;
    }
}

.glow {
    /* Breaks inline flow */
    position: absolute;
    background-color: hsl(205, 73%, 49%, 0.125);
    width: 350px;
    height: 350px;
    border-radius: 50%;
    z-index: 0;
    animation: infinite 5s pulse alternate;
}

@keyframes pulse {
    from {
        transform: scale(0.95);
    }

    to {
        transform: scale(1.05);
    }
}

/* Scales elements with 'glow' and 'two' classes */
.glow.two {
    scale: 0.87;
}

/* Scales elements with 'glow' and 'three' classes */
.glow.three {
    scale: 0.7;
}

.stars {
    /* Breaks inline flow */
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.star {
    /* Breaks inline flow */
    position: absolute;
    background: hsl(205, 73%, 49%);
    border-radius: 50%;
    opacity: 0.8;

}

@keyframes twinkle {
    0% {
        opacity: 0.3;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1.2);
    }
}